		<div class="w-full">
			<%# AVATAR %>

      <% if user_signed_in? %>
        <div class="w-full flex justify-start items-center px-2 gap-4"
            data-tooltip="dropdown"
            data-theme="dropdown-profile"
            data-content="template.profile_dropdown">
          <div class="flex-shrink-0 w-[40px] h-[40px] bg-green-100 text-green-700 hover:bg-green-200 cursor-pointer rounded-full flex relative my-1">
            <span class='m-auto'><%= current_user.initials %></span>
          </div>
        </div>
        <%# PROFILE DROPDOWN %>
        <template id="profile_dropdown">
          <div class="w-[200px] flex flex-col bg-white z-20 rounded-lg">
            <%= link_to 'Edit Profile', edit_user_registration_path(current_user), class: 'text-gray-600 hover:bg-gray-200 p-2' %>
            <%= link_to 'Sign-out', destroy_user_session_path, method: 'delete', class: 'text-gray-600 hover:bg-gray-200 p-2' %>
          </div>
        </template>
      <% else %>
        <div class="action-btn">
          <%= link_to "Login", new_user_session_path %>
        </div>
      <% end %>

		</div>