<%= form_with(model: @book, local: true, class: "mx-auto p-2 bg-white border flex flex-col rounded shadow-md m-5") do |form| %>
  <%= render(BookFieldsComponent.new(book: @book, form: form))%>
  <div class="flex justify-center md:justify-end w-full">
    <%= form.submit 'Add Book', class: "mt-4 bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded w-1/3" %>
  </div>
<% end %>