.grid-container {
  display: grid;
  min-height: 100vh; /* Ensures the container takes at least full viewport height */
  width: 100%;
  grid-template-rows: 80px 1fr auto; /* auto for footer height so it adjusts dynamically */
  grid-template-areas: 
    "navbar"
    "app"
    "footer";
  @apply bg-white;
}

.navbar {
  grid-area: navbar;
}

.app-content {
  grid-area: app;
  overflow-y: auto; /* Allow vertical scrolling if content exceeds the visible area */
  scrollbar-width: none; /* Hide scrollbar for Firefox */
  -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  margin: 0 auto; /* Center the content horizontally */
  width: 100%; /* Limit the width of the app content */
  min-height: 0; /* Ensure the content section grows and shrinks as needed */
}

.app-content::-webkit-scrollbar {
  display: none; /* Optional: Hide scrollbar */
}

.book-show {
  width: 100%; /* Ensures the component takes the full width of its parent */
}

.footer {
  grid-area: footer;
  text-align: center; /* Center the footer content */
}

/* For the cards grid container */
.cards-grid {
  overflow-y: scroll; /* Ensure vertical scrolling */
  scrollbar-width: none; /* Hide scrollbar for Firefox */
  -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
}

.cards-grid::-webkit-scrollbar {
  display: none;
}
