

.page-container {
  display: grid;
  min-height: 100vh; /* Ensures the container takes at least the full viewport height */
  width: 100%;
  grid-template-rows: auto 1fr auto; /* The key fix: '1fr' makes the middle section expand */
  grid-template-areas: 
    "navbar"
    "app"
    "footer";
  @apply bg-white;
}

.navbar {
  grid-area: navbar;
  width: 100%;
}

.app-content {
  grid-area: app;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers items horizontally */
  width: 100%;
  min-height: 0;
}

.footer {
  grid-area: footer;
  text-align: center;
  width: 100%;
}

.app-content::-webkit-scrollbar {
  display: none; /* Optional: Hide scrollbar */
}

.book-show {
  width: 100%; /* Ensures the component takes the full width of its parent */
}

/* For the cards grid container */
.cards-grid {
  overflow-y: scroll; /* Ensure vertical scrolling */
  scrollbar-width: none; /* Hide scrollbar for Firefox */
  -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
}

.cards-grid::-webkit-scrollbar {
  display: none;
}
